<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
	<meta charset="UTF-8">
	<meta name="MobileOptimized" content="320"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>My work</title>
	<link rel="shortcut icon" href="favicon/favicon.ico">
	<link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
	
	<div class="wrapper">
		<div class="wrapper__top">
			<!--header-->
			<header class="header">
				<div class="video_block">
				  <video height="1120" autoplay loop poster="./img/video-bg.jpg">
					 <source src="./img/video-bg.mp4">
				  </video>
				</div>
				<div class="web-prof">
					<div class="row header_top">
						<div class="col col-sm-4 col-md-6 col-lg-4">
							<div class="top-text"><b>colorful</b><span>flat</span></div>
						</div>
						<div class="col col-sm-8 col-md-6 col-lg-8 justify-content-lg-end d-flex">
							<nav class="navbar navbar-expand-lg navbar-dark">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
							    </button>
	
								<div class="collapse navbar-collapse" id="navbarSupportedContent">
									<ul class="navbar-nav mr-auto list-unstyled">
										<li class="nav-item active">
											<a class="nav-link text-light" href="#">home<span class="sr-only">(current)</span></a>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									  			About
											</a>
											<div class="dropdown-menu" aria-labelledby="navbarDropdown">
												<a class="dropdown-item" href="#">Features</a>
												<a class="dropdown-item" href="#">Advantages</a>
												<a class="dropdown-item" href="#">Testimonials</a>
											</div>
										</li>
										<li class="nav-item">
											<a class="nav-link text-light" href="#">Our Team</a>
										</li>
										<li class="nav-item">
											<a class="nav-link text-light" href="#">FAQ</a>
										</li>
										<li class="nav-item">
											<a class="nav-link text-light" href="#">Blog</a>
										</li>
										<li class="nav-item">
											<a class="nav-link text-light" href="#">Partners</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
					<div class="head"></div>
					<div class="container">
						<div class="row headline">
							<div class="col text-center">
								<h3>The best open page template for</h3>
								<h1>Web Professionals</h1>
							</div>
						</div>
					</div>
	
					<div class="container">
							<div class="row justify-content-center">
								<div class="col form_block">
									<form class="validate">
										<div class="form-group">
											<label for="exampleInputEmail1" class="sr-only">Email address</label>
											<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Full name" name="login">
										</div>
										<div class="form-group">
											<label for="exampleInputPassword1" class="sr-only">Password</label>
											<input type="email" class="form-control" id="exampleInputPassword1" placeholder="E-mail" name="email">
										</div>
										<div class="form-group">
											<label for="exampleInputPassword1" class="sr-only">Password</label>
											<input type="tel" class="form-control" id="phone" name="tel" placeholder="+380-000-00-00" pattern="^\+380-\d{3}-\d{2}-\d{2}$">
										</div>
										<button type="submit" class="btn btn-primary btn-lg btn-block">Get Started Now!</button>
									</form>
								</div>
							</div>
					</div>
				</div>	
			</header>
		</div>
		
		<div class="about-us">
			<div class="container info-block">
				<div class="section-head">
					<div class="section-head__title">About Us</div>
					<div class="section-head__text">Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est, nec et autem impetus oportere, vim te exerci noster omnium. Habeo dicam vim at, sale possit nostrum et pro.</div>
				</div>
				
				<div class="container">
					<div class="row text-left">
						<div class="col-lg-6  col-md-6 col-sm-12 info_section">
							<div class="row">
								<div class="col-lg-3 col-sm-12"><img src="img/ellipse_1.png" class="img-fluid"></div>
								<div class="col-lg-9 col-sm-12 features_items">
									<div class="features_items__title">Exclusive Shortcodes</div>
									<div class="features_items__text">Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans.</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12  info_section">
							<div class="row">
								<div class="col-lg-3 col-sm-12"><img src="img/ellipse_2.png" class="img-fluid"></div>
								<div class="col-lg-9 col-sm-12 features_items">
									<div class="features_items__title">100% valid and clean code</div>
									<div class="features_items__text">Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row text-left">
						<div class="col-lg-6 col-md-6 col-sm-12 info_section">
							<div class="row">
								<div class="col-lg-3 col-sm-12"><img src="img/ellipse_3.png" class="img-fluid"></div>
								<div class="col-lg-9 col-sm-12 features_items">
									<div class="features_items__title">Free Lifetime Updates</div>
									<div class="features_items__text">Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans.</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 info_section">
							<div class="row">
								<div class="col-lg-3 col-sm-12"><img src="img/ellipse_4.png" class="img-fluid"></div>
								<div class="col-lg-9 col-sm-12 features_items">
									<div class="features_items__title">24/7/365 Customer Support</div>
									<div class="features_items__text">Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--</section>-->
		</div>
		
		<div class="section section-feature">
			<div class="container">
				<div class="feature-box">
					<div class="section-feature__title">Features</div>
					<div class="section-feature__text">Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est, nec et autem impetus oportere, vim te exerci noster omnium. Habeo dicam vim at, sale possit nostrum et pro.</div>
				</div>
				
				<div class="section-content">
					<div class="row">
						<div class="col-lg-6 col-sm-12">
							<div class="row">
								<div class="col-lg-12 col-md-4 section-content__item pl-2">
									<div class="row mb-4">
										<div class="col-sm-12 col-lg-2"><img src="img/t-1.png"></div>
										<div class="col-sm-12 col-lg-9 features_items inner">
											<div class="features_items__title">Instant Skins Switcher</div>
											<div class="features_items__text">Switch styles instantly; choose among Material, Flat, Minimal, Grunge, Metro, 8-bit or Non-Standard Geometry.</div>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-4 section-content__item pl-2">
									<div class="row mb-4">
										<div class="col-sm-12 col-lg-2"><img src="img/t-2.png"></div>
										<div class="col-sm-12 col-lg-9 features_items inner">
											<div class="features_items__title">Various Scripts Included</div>
											<div class="features_items__text"> Various Scripts are already on a board. Use Owl Carousel, Tabs etc. for your needs</div>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-4 section-content__item pl-2">
									<div class="row mb-4">
										<div class="col-sm-12 col-lg-2"><img src="img/t-3.png"></div>
										<div class="col-sm-12 col-lg-9 features_items inner">
											<div class="features_items__title">Fully Responsive Design</div>
											<div class="features_items__text">Product is tested on the common devices. It will render and scale on any possible screen.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-12">
							<div class="feature-banner">
								<div class="square"></div>
								<div class="photo">
									 <img src="img/photo.png" class="img-fluid" height="1000"></img>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="category">
			<div class="container category__block">
				 <div class="category__head">
					<div class="category__title">Advantages</div>
					<div class="text category__text">Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est, nec et autem impetus oportere, vim te exerci noster omnium. Habeo dicam vim at, sale possit nostrum et pro.</div>
				</div>
				<div class="row category__content">
					<div class="col-6 col-md-6 col-lg-3 col-xl-3 text-center">
						<img src="img/adv_items_1.png" class="img-fluid">
						<div class="category__subtitle">Cu tantas platonem</div>
						<div class="category__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </div>
					</div>
					<div class="col-6 col-md-6 col-lg-3 col-xl-3 text-center">
						<img src="img/adv_items_2.png" class="img-fluid">
						<div class="category__subtitle">Aperiam suscipiantur</div>
						<div class="category__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </div>
					</div>
					<div class="col-6 col-md-6 col-lg-3 col-xl-3 text-center">
						<img src="img/adv_items_3.png" class="img-fluid">
						<div class="category__subtitle">Nusquam facilisis</div>
						<div class="category__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </div>    
					</div>
					<div class="col-6 col-md-6 col-lg-3 col-xl-3 text-center">
						<img src="img/adv_items_4.png" class="img-fluid">
						<div class="category__subtitle">Ex vel legimus</div>
						<div class="category__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </div>
					</div>
				</div>
				<div class="row category__content">
					<div class="col-6 col-md-6 col-lg-3 col-xl-3 text-center">
						<img src="img/adv_items_5.png" class="img-fluid">
						<div class="category__subtitle">Nusquam facilisis</div>
						<div class="category__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </div>    
					</div>
					<div class="col-6 col-md-6 col-lg-3 col-xl-3 text-center">
						<img src="img/adv_items_6.png" class="img-fluid">
						<div class="category__subtitle">Ex vel legimus</div>
						<div class="category__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </div>
					</div>
					<div class="col-6 col-md-6 col-lg-3 col-xl-3 text-center">
						<img src="img/adv_items_7.png" class="img-fluid">
						<div class="category__subtitle">Aperiam suscipiantur</div>
						<div class="category__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </div>
					</div>
					<div class="col-6 col-md-6 col-lg-3 col-xl-3 text-center">
						<img src="img/adv_items_8.png" class="img-fluid">
						<div class="category__subtitle">Cu tantas platonem</div>
						<div class="category__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </div>
					</div>
				</div>	
			</div>
		</div>
		
		<div class="testimonials">
			<div class="container">
				<div class="testimonials-block">
					<div class="testimonials-block__title">Testimonials</div>
					<i class="material-icons-format_quote testimonials__icons"></i>
					<div class="slider-block">
							<div class="slider-inner">
								<div class="single-slide">
									<div class="block_1">
										<div class="section-head__text testimonials__text">Vis quaeque inermis atomorum cu. Aperiam suscipiantur at pro. Nec paulo essent hendrerit ut, mel cu oblique eripuit maiestatis.</div>
										<img src="img/slider_foto_1.png" class="img-fluid">
										<div class="slider-block__txt">Rob Singer, Web Developer</div>
									</div>
									<div class="block_2">
										<div class="section-head__text testimonials__text">Vis quaeque inermis atomorum cu. Aperiam suscipiantur at pro. Nec paulo essent hendrerit ut, mel cu oblique eripuit maiestatis.</div>
										<img src="img/slider_foto_2.png" class="img-fluid">
										<div class="slider-block__txt">Alan Johnson, SEO</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="our-team">
			<div class="container">
				<!--<div class="section-head">-->
					<div class="our-team__title">Our Team</div>
					<div class="row content-block">
						<div class="col-lg-3 col-md-6 col-sm-12 our-team__item">
							<img src="img/Founder.png" class="img-fluid">
							<div class="content-block__name">Alan Sobakovich</div>
							<div class="content-block__employee">Founder</div>
							<div class="content-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12 our-team__item">
							<img src="img/product-manager.png" class="img-fluid">
							<div class="content-block__name">John Mu</div>
							<div class="content-block__employee">Product Manager</div>
							<div class="content-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12 our-team__item">
							<img src="img/Designer.png" class="img-fluid">
							<div class="content-block__name">Melissa Jade</div>
							<div class="content-block__employee">Designer</div>
							<div class="content-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12 our-team__item">
							<img src="img/Developer.png" class="img-fluid">
							<div class="content-block__name">Greg Mercury</div>
							<div class="content-block__employee">Developer</div>
							<div class="content-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </div>
						</div>
					</div>
				<!--</div>-->
			</div>
		</div>
		
		<div class="questions parallax-window" data-parallax="scroll" data-image-src="./img/fon-questions.jpg">
			<div class="container">
				<div class="questions-block">
					<div class="questions-block__title">FAQs</div>
					<div class="accordion panel-group">
						<div class="row mb-4 justify-content-center">
							<div class="col-lg-4 col-md-8 col-sm-12 px-0">
								<div class="questions__item">
									<div class="accordion__block open">
										<div class="accordion__open">
											<div class="panel-title panel-active point">
												<div class="row">	
													<div class="col-8 accordion__title">Tempor incididunt</div>
													<div class="col-4 accordion__title"><i class="material-icons-remove_circle accordion"></i></div>
												</div>
											</div>
											<div class="panel-body accordion__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-lg-4 col-md-8 col-sm-12 px-0">
								<div class="questions__item">
									<div class="accordion__block">
										<div class="panel-title point">
											<div class="row">
												<div class="col-8 accordion__title">Esse cillum</div>
												<div class="col-4 accordion__title"><i class="material-icons-add_circle"></i></div>
											</div>										
										</div>
										<div class="panel-body accordion__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
									</div>
								</div>
							</div>
							
							<div class="col-lg-4 col-md-8 col-sm-12 px-0">
								<div class="questions__item">
									<div class="accordion__block">
										<div class="panel-title point">
											<div class="row">
												<div class="col-8 accordion__title">Eiusmod tempor</div>
												<div class="col-4 accordion__title"><i class="material-icons-add_circle"></i></div>
										    </div>
										</div>
										<div class="panel-body accordion__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mb-4 justify-content-center">	
							<div class="col-lg-4 col-md-8 col-sm-12 px-0">
								<div class="questions__item">
									<div class="accordion__block">
										<div class="panel-title point">
											<div class="row">
												<div class="col-8 accordion__title">Eiusmod tempor</div>
												<div class="col-4 accordion__title"><i class="material-icons-add_circle"></i></div>
											</div>
										</div>
										<div class="panel-body accordion__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
									</div>
								</div>
							</div>
							
							<div class="col-lg-4 col-md-8 col-sm-12 px-0">
								<div class="questions__item">
									<div class="accordion__block">
										<div class="panel-title point">
											<div class="row">
												<div class="col-8 accordion__title">Dolore eu fugiat</div>
												<div class="col-4 accordion__title"><i class="material-icons-add_circle"></i></div>
											</div>
										</div>
										<div class="panel-body accordion__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
									</div>
								</div>
							</div>
							
							<div class="col-lg-4 col-md-8 col-sm-12 px-0">
								<div class="questions__item">
									<div class="accordion__block">
										<div class="panel-title point">
											<div class="row">
												<div class="col-8 accordion__title">Incididunt ut labore</div>
												<div class="col-4 accordion__title"><i class="material-icons-add_circle"></i></div>
											</div>
										</div>
										<div class="panel-body accordion__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row justify-content-center">	
							<div class="col-lg-4 col-md-8 col-sm-12 px-0">
								<div class="questions__item">
									<div class="accordion__block">
										<div class="panel-title point">
											<div class="row">
												<div class="col-8 accordion__title">Incididunt ut labore</div>
												<div class="col-4 accordion__title"><i class="material-icons-add_circle"></i></div>
											</div>
										</div>
										<div class="panel-body accordion__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
									</div>
								</div>
							</div>
							
							<div class="col-lg-4 col-md-8 col-sm-12 px-0">
								<div class="questions__item">
									<div class="accordion__block">
										<div class="panel-title point">
											<div class="row">
												<div class="col-8 accordion__title">Incididunt ut labore</div>
												<div class="col-4 accordion__title"><i class="material-icons-add_circle"></i></div>
											</div>
										</div>
										<div class="panel-body accordion__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
									</div>
								</div>
							</div>
							
							<div class="col-lg-4 col-md-8 col-sm-12 px-0">
								<div class="questions__item">
									<div class="accordion__block">
										<div class="panel-title point">
											<div class="row">
												<div class="col-8 accordion__title">Tempor incididunt</div>
												<div class="col-4 accordion__title"><i class="material-icons-add_circle"></i></div>
											</div>
										</div>
										<div class="panel-body accordion__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		
		<div class="presentation">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12 ">
						<div class="embed-responsive embed-responsive-16by9">
						<iframe width="570" height="340" class="embed-responsive-item" src="https://www.youtube.com/embed/2Tk0vBKINvk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12 center-block">
						<div class="presentation__title">How Its Work</div>
						<div class="info-txt">Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est.</div>
						<div class="info-txt paragraph">Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans. Ei vide movet tibique ius, eos vivendo consetetur theophrastus cu. Eum erroribus necessitatibus ne. Eius singulis ea his, debitis nonumes at per  appareat ponderum eos.</div>
					</div>
				</div>
			</div>
			<div class="gallery">
				<div class="row no-gutters">
					<div class="col gallery__item"><a class="image-popup" href="img/foto-gallery_1.png">
 						<img src="img/foto-gallery_1.png" class="img-fluid" alt="" /></a>
 					</div>
					<div class="col"><a class="image-popup" href="img/foto-gallery_2.png">
 						<img src="img/foto-gallery_2.png" class="img-fluid" alt="" /></a>
 					</div>
					<div class="col"><a class="image-popup" href="img/foto-gallery_3.png">
 						<img src="img/foto-gallery_3.png" class="img-fluid" alt="" /></a>
 					</div>
					<div class="col"><a class="image-popup" href="img/foto-gallery_4.png">
 						<img src="img/foto-gallery_4.png" class="img-fluid" alt="" /></a>
 					</div>
				</div>
			</div>
		</div>
		
		<div class="blog">
			<div class="container">
				<div class="blog__textblock">
					<div class="blog__title text-center">Latest From the Blog</div>
					<div class="blog__text text-center">
						Lorem ipsum dolor sit amet, 
						cetero temporibus ex nec. Et facilisis definiebas est, 
						nec et autem impetusoportere, vim te exerci noster omnium. 
						Habeo dicam vim at, sale possit nostrum et pro.
					</div>
				</div>
				<div class="row">
					<div class="col"><img src="img/blog-1.png" class="img-fluid"></div>
					<div class="col"><img src="img/blog-2.png" class="img-fluid"></div>
				</div>
			</div>
		</div>
		
		<div class="our-partners">
			<div class="container">
				<div class="our-partners__title text-center">Our partners</div>
				<div class="row justify-content-center mx-lg-6">
					<div class="col-lg-4 col-sm-12"><img src="img/partners-TM.png" class="img-fluid"></div>
					<div class="col-lg-4 col-sm-12"><img src="img/partners-MOTO.png" class="img-fluid"></div>
					<div class="col-lg-4 col-sm-12"><img src="img/partners-TT.png" class="img-fluid"></div>
				</div>
			</div>
		</div>
		
		<div class="contact-us">
			<div class="container text-center">
				<div class="contact-us__title">Contact us</div>
				<div class="contact-us__address">8901 Marmora Road, Glasgow, D04 89GR.</div>
				<div class="contact-us__address">Telephone:  +1 800 603 6035</div>
				<ul class="list justify-content-center">
					<li class="list__items"><a href="#"><img src="img/facebook_icon.ico" class="img-fluid"></a></li>
					<li class="list__items"><a href="#"><img src="img/twit_icon.ico" class="img-fluid"></a></li>
					<li class="list__items"><a href="#"><img src="img/google.ico" class="img-fluid"></a></li>
				</ul>
			</div>
		</div>
		
		<!--FOOTER-->
		<div class="wrapper__bottom">
			<footer>
				<div id="map" class="map-block"></div>
			</footer>
		</div>
	</div>
	<a href="#" class="scrollup"></a>
</body>
<script src="js/bundle.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7LLMMwwpnMSF14EEZ28IgXTYJ1xOofh0"></script>
<script src="js/parallax.js"></script>
</html>